body {
    width: 200vh;
    background-color: #0c192c;
    background-size: 300px 100px;

 }

 .container {
    position: relative;
    width: 100%;
    height: 100vh;
    
}
.bubbles {
    position: relative;
    display: flex;
}
.bubbles span {
   position: relative;
   width: 40px;
   height: 30px;
   background: #4fc3dc;
   margin: 0 4px;
   border-radius: 50%;
   box-shadow: 0 0 0 10px #4fc3dc44,
   0 0 50px #4fc3dc,
   0 0 100px #4fc3dc;
   animation: animate 15s linear infinite;
   animation-duration: calc(125s / var(--i));
}

@keyframes animate {
    0% 
    {
        transform: translateY(100vh) scale(0);
    }
    
    
}













.Instagram {
    font-size: 50px;
    display: inline;
    
}

.LinkedIn {
    font-size: 50px;
}

.Google {
    font-size: 50px;
    

}

.text {
    padding-left: 100px;
    margin-top: -200px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1 {
    padding-top: 10px;
    color: white;
}

p {
    color: white;
}

.items {
    display: inline-block;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.items:hover {
    background-color: transparent;
}

.items:before {
    content: '';
    display: block;
    height: 5px;

    background-color: white;
    position: relative;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;

}

.items:hover::before {
    width: 100%;
}

.list {
    display: inline-block;
    font-size: 60px;
    text-align: right;
    margin-left: 1000px;
    color: white;
}

.Contact {
    margin-top: -50px;
}
